canvas {
    border: 1px solid black;
    margin: 0 auto;
    width: 600px;
    height: 600px;
    display: block;
}

.chat-list {
    height: 560px;
    overflow-y: auto;
}

#chatField {
    margin-top: 10px;
}

#login-name-link {
    line-height: 50px;
    color: white;
    padding: 0 10px;
}

#login-buttons {
    float: right;
}