<template name="kalambury">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <div class="panel panel-default">
                    {{> panelHeading}}
                    {{> panelBody}}
                    {{> panelFooter}}
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>Chat messages</h4>
                    </div>
                    <div class="panel-body">
                        {{> chatList}}
                        {{> chatInput}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>